<%- include("./partials/header.ejs") %>
<div class="container">
  <h1>All Blog Posts:</h1>
  <% if(locals.blogs) { %>
  <div class="row mt-4">
    <% blogs.forEach(function (element, i) { %>
    <div class="col-sm-6 mb-4">
      <div class="card white2 border border-0 py-3">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title fw-bold h1"><%= element.title %></h5>
          <div
            class="d-flex border-bottom border-2 border-light mb-4 pb-3 column-gap-3"
          >
            <p class="d-flex align-items-center column-gap-1">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-clock"
                viewBox="0 0 16 16"
              >
                <path
                  d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71z"
                />
                <path
                  d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16m7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0"
                />
              </svg>
              Time
            </p>
            <p class="d-flex align-items-center column-gap-1">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-calendar"
                viewBox="0 0 16 16"
              >
                <path
                  d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4z"
                />
              </svg>
              <%= element.date %>
            </p>
          </div>

          <p class="card-text"><%= element.body %></p>
          <a
            href="/<%= i %>"
            class="d-inline-flex align-items-center column-gap-1 readmore"
            >Read More
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-arrow-right"
              viewBox="0 0 16 16"
            >
              <path
                fill-rule="evenodd"
                d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"
              />
            </svg>
          </a>
        </div>
      </div>
    </div>

    <%}); %>
  </div>

  <% } else { %>
  <h2>You have no blog post. Create one!</h2>
  <% } %>
</div>

<%- include("./partials/footer.ejs") %>
